section {
  padding: 60px 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  padding: 92px 50px 96px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item.active {
  list-style-type: none;
}

.contacts__link,
.header__link {
  color: #000;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
}

.contacts__link,
.header__link,
.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__link.active,
.footer__menu-link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: auto;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.header .contacts {
  justify-self: flex-end;
  gap: 4px;
  padding-right: 37px;
}

.cover {
  position: relative;
  min-height: 757px;
  color: #fff;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin-top: 105px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0;
  font-weight: 900;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
}

.aligned-text_left {
  padding-left: 50px;
  text-align: left;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  padding-right: 20px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-self: start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 105px;
  padding: 0 50px;
}

.cover__description-text {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #fff;
  border-radius: 0;
  padding: 12px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bet-button:hover {
  color: #000;
  background-color: #fff;
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 176px;
  padding: 0;
}

.lots__header {
  padding-left: 64px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 32px;
  padding-left: 24px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 0;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}
.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}
.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px 46px;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  width: max-content;
  margin-top: 30px;
  margin-left: 64px;
  border-bottom: 1px solid #000;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  align-items: start;
  margin-top: 153px;
  padding: 0;
}

.about__column_image {
  display: flex;
  padding-left: 71px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 100px 28px 60px 50px;
}

.about__column:first-child {
  justify-content: center;
  align-items: center;
}

.about__logo {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 101px;
}

.about__text p {
  margin: 0;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  align-content: start;
  gap: 20px;
  margin-top: 85px;
  margin-bottom: 45px;
  padding: 37px 50px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}

.footer .contacts {
  justify-self: start;
  gap: 6px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__menu-link {
  color: #000;
  white-space: nowrap;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
